<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<div class="container-fluid mt--7">
  <div class="row mb-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">My Loans</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date Issued</th>
                <th scope="col">Amount</th>
                <th scope="col">% Paid</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let loan of myLoans">
                <td *ngIf="!loan.approved">pending</td>
                <td *ngIf="loan.approved">{{ loan.dateIssued }}</td>
                <td>Ksh. {{ loan.amount }}</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">{{ getPercentagePaid(loan.amountPaidSoFar, loan.amountPayable) }}%</span>
                    <div>
                      <div class="progress">
                        <div [class.bg-danger]="getPercentagePaid(loan.amountPaidSoFar, loan.amountPayable) <= 49"
                        [class.bg-success]="getPercentagePaid(loan.amountPaidSoFar, loan.amountPayable) >= 75"
                        [class.bg-warning]="getPercentagePaid(loan.amountPaidSoFar, loan.amountPayable) >= 50 && getPercentagePaid(loan.amountPaidSoFar, loan.amountPayable) <= 74 "
                        class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" 
                        [ngStyle]="{'width': getPercentagePaid(loan.amountPaidSoFar, loan.amountPayable) + '%'}"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i [class]="getLoanStatus(loan.amountPaidSoFar, loan.amountPayable, loan.approved, true)"></i> {{ getLoanStatus(loan.amountPaidSoFar, loan.amountPayable, loan.approved) }}
                  </span>
                </td>
                <td *ngIf="getLoanStatus(loan.amountPaidSoFar, loan.amountPayable, loan.approved) == 'unpaid' || getLoanStatus(loan.amountPaidSoFar, loan.amountPayable, loan.approved) == 'half-paid'">
                  <div class="ddown">
                    <button class="ddown-toggle btn btn-sm text-light bg-info" (click)="toggleDropdown('ddown-content-pay-loan')">pay</button>
                    <div class="ddown-content ddown-content-pay-loan mt-2">
                      <div class="row form-group" style="margin-bottom: 0;padding: 1em;border-radius: 5px;">
                        <div class="col-xl-8">
                          <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text text-sm">Amt: </span>
                            </div>
                            <input type="text" name="input-pay-loan-amt" class="form-control" placeholder="amount" (input)="amtChange()" [(ngModel)]="tableLoanPaymentAmount">
                          </div>
                        </div>
                        <div class="col-xl-4">
                          <button (click)="payLoan(loan.transactionId, true)" class="btn btn-sm btn-success mt-2">Pay</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div ngbDropdown  placement="bottom-right">
                    <button class="btn btn-sm text-light bg-info"  ngbDropdownToggle>
                      pay
                    </button>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <input type="text" name="input-pay-loan-amt" placeholder="amount" [(ngModel)]="tableLoanPaymentAmount">
                      <button (click)="payLoan(loan.transactionId, true)" class="btn btn-sm btn-success">Pay</button>
                    </div>
                  </div> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
  
  <div class="row">
    <!-- request loan -->
    <div class="col-xl-6 mb-5">
      <div class="card wp-card shadow mb-4">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase ls-1 mb-1">member</h6>
              <h2 class="mb-0">Request Loan</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-request-loan-amount">Enter amount</label>
                <input type="text" (input)="amtChange()" [(ngModel)]="loanRequestAmount" name="input-request-loan-amount" id="input-request-loan-amount" class="form-control form-control-alternative" placeholder="Amount" value="1000">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="" class="text-default">.</label>
                <input type="button" (click)="requestLoan()" class="btn btn-success form-control form-control-alternative" value="Request">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- pay loan -->
    <div class="col-xl-6 mb-5">
      <div class="card bg-light wp-card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase ls-1 mb-1">member</h6>
              <h2 class="mb-0">Pay Loan</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-first-name">Select Loan</label>
                <div class="ddown">
                  <button class="ddown-toggle btn form-control" (click)="toggleDropdown('ddown-content-pay-loan-widget')">{{ selectedLoan }}</button>
                  <div class="ddown-content ddown-content-pay-loan-widget" style="width: 100%;">
                    <p *ngFor="let anMyLoan of myLoansDropdown" (click)="selectLoan(anMyLoan)">Ksh {{ anMyLoan.amount }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-repay-loan-amount">Amount to Pay</label>
                <input type="text" (input)="amtChange()" [(ngModel)]="loanRepaymentAmount" name="input-repay-loan-amount" id="input-repay-loan-amount" class="form-control form-control-alternative" placeholder="Amount">
              </div>
            </div>
            <div class="offset-6 col-lg-6">
              <div class="form-group">
                <label for="" class="text-default">.</label>
                <input type="button" (click)="payLoan()" class="btn btn-success form-control form-control-alternative" value="Pay">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="authService.currentUserIsAdmin">
  <!-- <div> -->
    <div class="row mt-6">
      <div class="col col-xl-12">
        <h1>Admin Tools</h1>
        <hr>
      </div>
    </div>
  
    <!-- all loans table -->
    <div class="row">
      <div class="col col-xl-12">
        <div class="card bg-light shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-default mb-0">All Loans</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-light table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Receipient</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Date Issued</th>
                  <th scope="col">Date Due</th>
                  <th scope="col">Payment Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let loan of allLoans">
                  <td>{{ loan.receipient }}</td>
                  <td>Ksh. {{ loan.amount.toLocaleString() }}</td>
                  <td *ngIf="!loan.approved">pending</td>
                  <td *ngIf="loan.approved">{{ loan.dateIssued }}</td>
                  <td *ngIf="!loan.approved">pending</td>
                  <td *ngIf="loan.approved">{{ loan.dateDue }}</td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i [class]="getLoanStatus(loan.amountPaidSoFar, loan.amountPayable, loan.approved, true)"></i> {{ getLoanStatus(loan.amountPaidSoFar, loan.amountPayable, loan.approved) }}
                    </span>
                  </td>
                  <td *ngIf="!loan.approved && authService.currentUserIsAdmin">
                    <button (click)="evaluateLoan(loan, 'approved')" class="btn btn-sm btn-success">approve</button>
                    <button (click)="evaluateLoan(loan, 'rejected')" class="btn btn-sm btn-danger">reject</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <!-- add existing loan -->
    <div class="row mt-5">
      <div class="col-xl-6 mb-5">
        <div class="card shadow wp-card">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase ls-1 mb-1">admin</h6>
                <h2 class="mb-0">Add Existing Loan</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label" for="btn-existing-loan-receipient">Receipient</label>
                  <div class="ddown">
                    <button class="ddown-toggle btn form-control" (click)="toggleDropdown('ddown-existing-loan-receipient')" name="btn-existing-loan-receipient">{{ selectedLoanee }}</button>
                    <div class="ddown-content ddown-existing-loan-receipient" style="width: 100%;">
                      <p *ngFor="let loanee of membersNamesList" (click)="selectExistingLoanReceipient(loanee)">{{ loanee.name }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-existing-loan-amount">Loan Amount</label>
                  <input type="text" (input)="amtChange()" [(ngModel)]="existingLoanAmount" name="input-existing-loan-amount" id="input-existing-loan-amount" class="form-control form-control-alternative" placeholder="Loan Amount">
                </div>
              </div>
              <div class="col-lg-5">
                <div class="form-group">
                  <label class="form-control-label" for="input-existing-loan-rate">Interest Rate</label>
                  <input type="text" [(ngModel)]="existingLoanRate" name="input-existing-loan-rate" id="input-existing-loan-rate" class="form-control form-control-alternative" placeholder="Rate">
                </div>
              </div>
              <div class="col-lg-1">
                <div class="form-group">
                  <label class="form-control-label">.</label>
                  <label class="form-control-label mt-3">%</label>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-existing-loan-issue-date">Date Issued</label>
                  <input type="date" [(ngModel)]="existingLoanIssuedDate" name="input-existing-loan-issue-date" id="input-existing-loan-issue-date" class="form-control form-control-alternative">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-existing-loan-due-date">Due Date</label>
                  <input type="date" [(ngModel)]="existingLoanDueDate" name="input-existing-loan-due-date" id="input-existing-loan-due-date" class="form-control form-control-alternative">
                </div>
              </div>
              <div class="offset-6 col-lg-6">
                <div class="form-group">
                  <input type="button" (click)="addExistingLoan()" class="btn btn-primary form-control form-control-alternative" value="Add Existing Loan">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
