<div class="header pb-8 pt-3 pt-lg-3 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row" style="padding-top:5em;">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{ getFirstWord(authService.currentUser.FirstName) }}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can edit your personal information here</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--5">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <!-- <img src="./profile.svg" class="rounded-circle"> -->
                <svg id="wp-profile-icon" class="rounded-circle" style="background-color: white;" width="150" height="150" data-jdenticon-value="icon value"></svg>
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">

          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">

              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ authService.currentUser.FirstName }}
            </h3>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>
              <span>{{ authService.currentUser.Role }}</span> - <span>{{ (chama | async)?.chamaName }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>

          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email Address</label>
                    <input type="email" [(ngModel)]="userEmail" name="input-email" id="input-email" class="form-control form-control-alternative" placeholder="user@example.com" value="{{ authService.currentUser.Email }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Name</label>
                    <input type="text" [(ngModel)]="userFirstName" name="input-first-name" id="input-first-name" class="form-control form-control-alternative" placeholder="First name">
                  </div>
                </div>
                <!-- <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-second-name">Second Name</label>
                    <input type="text" [(ngModel)]="userSecondName" name="input-second-name" id="input-second-name" class="form-control form-control-alternative" placeholder="Second name">
                  </div>
                </div> -->
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">New Password</label>
                    <input type="password" [(ngModel)]="userPassword" name="input-password" placeholder="Enter New Password" class="form-control form-control-alternative">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <div class="pl-lg-4">
              <a class="btn btn-info text-white" (click)="saveChanges()">Save Changes</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
